html,
body {
    background-color: whitesmoke;
    margin: 10px;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: whitesmoke;
}

.container > div:nth-child(1n) {
  background-color: #46b5dd;
}

.container > div:nth-child(2n) {
  background-color: #46ddb7;
}

.container > div:nth-child(3n) {
  background-color: #ff8080;
}

.container > div:nth-child(4n) {
  background-color: #6A5ACD;
}